includes:
    - phpstan-baseline.neon
parameters:
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Cannot call method .* on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
