includes:
    - phpstan-baseline.neon
parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method .* on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
